<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.scouting988845" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Scouting</name>
  <description>
        A Scouting application for team 1504 FRC.
    </description>
  <author email="arhamjain@gmail.com" href="http://arhamjain.com/">
      Arham Jain
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="Fullscreen" value="true" />
  <preference name="webviewbounce" value="true"/>
  <preference name="UIWebViewBounce" value="true"/>
  <plugin name="org.crosswalk.engine" spec="1.3.0" source="pgb" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
